<!doctype html>
<!--
Website By Miradontsoa / MiVFX
http://twitter.com/miradontsoa
http://miradontsoa.com
-->

<html class="no-js" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <!-- Page Title Here -->
  <title>Tran Ngoc SIMSIMI</title>

  <!-- Meta -->
  <!-- Page Description Here -->
  <meta name="description" content="A Simsimi Chat API for developer ! Use for Chatfuel or more">
  <!-- Disable screen scaling-->
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0">

  <!-- Twitter Meta -->
  <meta name="twitter:title" content="Sim Simi TranNgo">
  <meta name="twitter:description" content="A Simsimi Chat API for developer ! Use for Chatfuel or more">
  <meta name="twitter:image" content="https://tranngoc-simsimi.herokuapp.com/img/bg-default.jpg">

  <!-- Facebook Meta -->
  <meta property="og:url" content="https://tranngoc-simsimi.herokuapp.com/">
  <meta property="og:title" content="TranNgoc  SIMSIMI">
  <meta property="og:description" content="A Simsimi Chat API for developer ! Use for Chatfuel or more">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://tranngoc-simsimi.herokuapp.com/img/bg-default.jpg">
  <meta property="og:image:secure_url" content="https://tranngoc-simsimi.herokuapp.com/img/bg-default.jpg">
  <meta property="og:image:type" content="image/jpg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
  <!-- Web fonts and Web Icons -->
  <link rel="stylesheet" href="./fonts/ionicons.min.css">
  <link rel="stylesheet" href="./fonts/opensans/stylesheet.css">
  <link rel="stylesheet" href="./fonts/bebas/stylesheet.css">
  <link rel="stylesheet" href="./fonts/font-awesome.min.css">

  <!-- Vendor CSS style -->
  <link rel="stylesheet" href="./css/pageloader.css">

  <!-- Uncomment below to load individualy vendor CSS -->
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./js/vendor/swiper.min.css">
  <link rel="stylesheet" href="./js/vendor/jquery.fullpage.min.css">
  <link rel="stylesheet" href="./js/vegas/vegas.min.css">

  <!-- Main CSS files -->
  <link rel="stylesheet" href="./css/main.css">

  <script src="./js/vendor/jquery-3.4.1.js"></script>
  <!-- add alt layout here -->
  <link rel="stylesheet" href="./css/style-color2.css">
  <style>
    .loader {
      position: absolute;
      top: calc(50% - 32px);
      left: calc(50% - 32px);
      width: 64px;
      height: 64px;
      border-radius: 50%;
      perspective: 800px;
    }

    .inner {
      position: absolute;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    .inner.one {
      left: 0%;
      top: 0%;
      animation: rotate-one 1s linear infinite;
      border-bottom: 3px solid #EFEFFA;
    }

    .inner.two {
      right: 0%;
      top: 0%;
      animation: rotate-two 1s linear infinite;
      border-right: 3px solid #EFEFFA;
    }

    .inner.three {
      right: 0%;
      bottom: 0%;
      animation: rotate-three 1s linear infinite;
      border-top: 3px solid #EFEFFA;
    }

    @keyframes rotate-one {
      0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
      }

      100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
      }
    }

    @keyframes rotate-two {
      0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
      }

      100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
      }
    }

    @keyframes rotate-three {
      0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
      }

      100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
      }
    }


    /* AUTO FILL TRANSPARENT */

    @-webkit-keyframes autofill {

      0%,
      100% {
        color: whitesmoke;
        background: transparent;
      }
    }

    input:-webkit-autofill {
      -webkit-animation-delay: 0s;
      /* Safari support - any positive time runs instantly */
      -webkit-animation-name: autofill;
      -webkit-animation-fill-mode: both;
    }

    #myModal .modal-dialog {
      -webkit-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
      top: 50%;
      margin: 0 auto;
    }

    /*  */
    .tooltip {
      position: relative;
      display: inline-block;
    }

    .tooltip .tooltiptext {
      visibility: hidden;
      width: 140px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px;
      position: absolute;
      z-index: 1;
      bottom: 150%;
      left: 50%;
      margin-left: -75px;
      opacity: 0;
      transition: opacity 0.3s;
    }

    .tooltip .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }

    .tooltip:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
  </style>
  <script>
    $( document ).ready(function() {
      $("#fblike").click(function()
      {
        window.open("https://www.facebook.com/photo.php?fbid=2362752937326644&set=a.1380914152177199&type=3&theater", '_blank');
      });
      window.setTimeout(function(){
            $('#fbmodal').modal('show');
                  }, 5000);
      $("#contributeForm").submit(function (event) {
			$('#waitRequest').html(`
			<div id='loadProcess'  class="loader">
			<div class="inner one"></div>
			<div class="inner two"></div>
			<div class="inner three"></div>
			<p style="margin-top: 70px;"> Loading</p>
			</div>
			`);
			event.preventDefault();
			var email = $('#mes-email').val();
			var name = $('#mes-name').val();
			var key = $('#mes-key').val();
			$.post("/contribute",
			{
				name: name,
				email: email,
				key : key
			},
			function (data, status) {
        $('#loadProcess').remove();
      })
      .done(function (data) {
					$('#myModal').modal('show');
					$('.modal-body p').html(`
					<p> Request messages  : ${name}</p>
					<p> Request language  : ${email}</p>
					<p> Response messages : ${key}</p>
					`)
				})
				.fail(function (jqxhr, settings, ex) {
					$('#myModal').modal('show');
					$('.modal-title').html('Request failed');
					$('.modal-body p').html(`
					<p> Erro : ${ex}</p>
					`)
				});
    });
    
    $("#APItest").submit(function (event) {
			// prevent default submit
			console.log('Send request');
			$('#waitRequest').html(`
			<div id='loadProcess'  class="loader">
			<div class="inner one"></div>
			<div class="inner two"></div>
			<div class="inner three"></div>
			<p style="margin-top: 70px;"> Loading</p>
			</div>
			`);
			event.preventDefault();
			var messages = $('#messagesParam').val();
			var language = $('#lanParam').val();
			$.getJSON(`../api/text=${messages}&lan=${language}`, function (data, textStatus, jqXHR) {
				$('#loadProcess').remove();
			})
				.done(function (data) {
					console.log(data);
					$('#myModal').modal('show');
					$('.modal-body p').html(`
					<p> Request messages  : ${messages}</p>
					<p> Request language  : ${language}</p>
					<p> Response messages : ${data.messages[0].text}</p>
					`)
				})
				.fail(function (jqxhr, settings, ex) {
					$('#myModal').modal('show');
					$('.modal-title').html('Request failed');
					$('.modal-body p').html(`
					<p> Erro : ${ex}</p>
					`)
				});
		});
    
    
    
    function copytoclipboard() {
      var el = document.createElement('textarea');
      el.value = 'https://tranngoc-simsimi.herokuapp.com/api/text=[messages]&lan=[language]';
      el.setAttribute('readonly', '');
      el.style = { position: 'absolute', left: '-9999px' };
      document.body.appendChild(el);
      el.select();
      document.execCommand('copy');
      document.body.removeChild(el);
      alert('Copy API to clipboard');
    }
  });
  </script>
  <script src="./js/vendor/modernizr-2.7.1.min.js"></script>
</head>

<body id="menu" class="body-page">
  <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

  <div class="page-loader" id="page-loader">
    <div>
      <div class="icon ion-spin"></div>
      <p>Hello</p>
    </div>
  </div>
  <header class="page-header navbar page-header-alpha scrolled-white menu-right topmenu-right">

    <!-- Begin of menu icon toggler -->
    <button class="navbar-toggler site-menu-icon" id="navMenuIcon">
      <!-- Available class : menu-icon-dot / menu-icon-thick /menu-icon-random -->
      <span class="menu-icon menu-icon-random">
        <span class="bars">
          <span class="bar1"></span>
          <span class="bar2"></span>
          <span class="bar3"></span>
        </span>
      </span>
    </button>
    <!-- End of menu icon toggler -->

    <!-- Begin of logo/brand -->
    <a class="navbar-brand" href="#">
      <span class="logo">
        <img class="light-logo" src="img/logo.png" alt="Logo">
      </span>
      <span class="text">
        <span class="line">TranNgoc</span>
        <span class="line sub">SimSimi API</span>
      </span>
    </a>
    <!-- End of logo/brand -->

    <!-- begin of menu wrapper -->
    <div class="all-menu-wrapper" id="navbarMenu">
      <!-- Begin of top menu -->
      <nav class="navbar-topmenu">
        <!-- Begin of CTA Actions, & Icons menu -->
        <ul class="navbar-nav navbar-nav-actions">
          <li class="nav-item">
            <a class="btn btn-outline-white btn-round" target="_blank" href="https://www.facebook.com/kingstar7699">
              Visit FaceBook
            </a>
          </li>
        </ul>
        <!-- End of CTA & Icons menu -->
      </nav>
      <!-- End of top menu -->
      <!-- Begin of hamburger mainmenu menu -->
      <nav class="navbar-mainmenu">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#home">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#usages">Usages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#testAPI">Test API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
      <!-- End of hamburger mainmenu menu -->

      <!-- Begin of sidebar nav menu params class: text-only / icon-only-->
      <nav class="navbar-sidebar ">
        <ul class="navbar-nav" id="qmenu">
          <li class="nav-item" data-menuanchor="home">
            <a href="#home">
              <i class="icon ion-ios-home-outline"></i>
              <span class="txt">Home</span>
            </a>
          </li>
          <li class="nav-item" data-menuanchor="usages">
            <a href="#usages">
              <i class="icon ion-ios-information-outline"></i>
              <span class="txt">Usages</span>
            </a>
          </li>
          <li class="nav-item" data-menuanchor="testAPI">
            <a href="#testAPI">
              <i class="icon ion-ios-compose-outline"></i>
              <span class="txt">Test API</span>
            </a>
          </li>
          <li class="nav-item" data-menuanchor="contact">
            <a href="#contact">
              <i class="icon ion-ios-telephone-outline"></i>
              <span class="txt">Contact</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- End of sidebar nav menu -->
    </div>
    <!-- end of menu wrapper -->

  </header>
  <div class="page-cover">

    <!-- Transluscent mask as filter -->
    <div class="cover-bg-mask bg-color" data-bgcolor="#1D1D1D"></div>


  </div>
  <!--END OF page cover -->

  <!-- BEGIN OF page main content -->
  <main class="page-main page-fullpage main-anim" id="mainpage">

    <!-- Begin of home section -->
    <div class="section section-home fullscreen-md fp-auto-height-responsive main-home" data-section="home">
      <!-- Begin of section wrapper -->
      <div class="section-wrapper">
        <!-- content -->
        <div class="section-content anim">
          <div class="row">
            <div class="col-12 col-md-6 text-left">
              <!-- title and description -->
              <div class="title-desc">
                <h2 class="display-4 display-title home-title bordered anim-1">SIMSIMI</h2>
                <h4 class="anim-2">A simple way to get unlimited response chat from SIMSIMI server !</h4>
              </div>

              <!-- Action button -->
              <div class="btns-action anim-3">
                <a class="btn btn-outline-white btn-round" href="#usages">
                  How to use
                </a>
              </div>
            </div>

            <!-- begin of right content -->
            <div class="col-12 col-md-6 right-content hidden-sm center-vh">
              <!-- content -->
              <div class="section-content">
                <!-- illustartion -->
                <div class="illustr zoomout-1">
                  <img class="logo" src="img/logo_white.png" alt="Logo">
                </div>
              </div>
            </div>
            <!-- end of right content -->
          </div>
        </div>


        <!-- Arrows scroll down/up -->
        <footer class="section-footer scrolldown">
          <a class="down">
            <span class="icon"></span>
            <span class="txt">Scroll Down</span>
          </a>
        </footer>
      </div>
      <!-- End of section wrapper -->
    </div>
    <!-- End of home section -->

    <!-- Begin of description section -->
    <div class="section section-description fp-auto-height-responsive " data-section="usages">
      <!-- Begin of section wrapper -->
      <div class="section-wrapper center-vh dir-col anim">
        <!-- title -->
        <div class="section-title text-center">
          <h5 class="title-bg">USAGES</h5>
          <h2 class="display-4 display-title anim-2">"UNLIMITED" REQUEST API</h2>
        </div>

        <input type="text" value="https://tranngoc-simsimi.herokuapp.com/api/text=[messages]&lan=[language]"
          id="apiInput" hidden>
        <!-- content -->
        <div class="section-content reduced anim text-center">
          <!-- title and description -->
          <div class="title-desc anim-3">
            <p>Just use messages and language as params to the API URL below</p>
            <p>API for your product : </p>
            <button id='apiClick' onclick="copytoclipboard()" class="btn btn-outline-white btn-normal">
              TRANNGOC-SIMSIMI.HEROKUAPP.COM/API/TEXT=<i><b style="color: gold;">[MESSAGES]</i></b>&LAN=<i><b
                  style="color: gold;">[LANGUAGE]</i></b>
            </button>
            <p>Example : <a href="https://tranngoc-simsimi.herokuapp.com/api/text=hihi&lan=vn" target="_blank"
                style="font-size: large;color: gold;">tranngoc-simsimi.herokuapp.com/api/text=hi&lan=vi</a></p>

          </div>

        </div>

        <!-- Arrows scroll down/up -->
        <footer class="section-footer scrolldown">
          <a class="down">
            <span class="icon"></span>
            <span class="txt">Team</span>
          </a>
        </footer>
      </div>
      <!-- End of section wrapper -->
    </div>
    <!-- End of description section -->

    <!-- Begin of description section -->
    <div class="section section-description fp-auto-height-responsive " data-section="team">
      <!-- Begin of section wrapper -->
      <div class="section-wrapper center-vh dir-col anim">
        <!-- title -->
        <div class="section-title text-center">
          <h5 class="title-bg">Team</h5>
        </div>

        <!-- content -->
        <div class="section-content anim text-center">
          <!-- text or illustration order are manipulated via Bootstrap order-md-1, order-md-2 class -->
          <!-- begin of item -->
          <div class="item row justify-content-between">
            <!-- img-frame-normal demo -->
            <div class="col-12 col-sm-6 col-md-4 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                      <a href="https://www.facebook.com/kingstar7699" target="_blank">
                        <img class="img" src="img/items/img-people2-square.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Lê Nhi</h5>
                      <p class="small">Người Iu</p>
                      <div class="icons">
                        <a class="icon-btn" href="https://www.facebook.com/kingstar7699" target="_blank">
                          <i class='fab fa-facebook' style='font-size:36px'></i>
                        </a>
                        <a class="icon-btn" href="https://www.facebook.com/messages/t/kingstar7699" target="_blank">
                          <i class='fab fa-facebook-messenger' style='font-size:36px'></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- img-frame-normal demo -->
            <div class="col-12 col-sm-6 col-md-4 center-vh">
              <div class="section-content anim">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                      <a href="https://www.facebook.com/kingstar7699" target="_blank">
                        <img class="img" src="img/items/img-people1-square.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Trần Ngọc</h5>
                      <p class="small">Developer</p>
                      <div class="icons">
                        <a class="icon-btn" href="https://www.facebook.com/kingstar7699" target="_blank">
                          <i class='fab fa-facebook' style='font-size:36px'></i>
                        </a>
                        <a class="icon-btn" href="https://www.facebook.com/messages/t/kingstar7699" target="_blank">
                          <i class='fab fa-facebook-messenger' style='font-size:36px'></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- img-frame-normal demo -->
            <div class="col-12 col-sm-6 col-md-4 center-vh">
              <div class="section-content anim translateDown">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                      <a href="https://www.facebook.com/kingstar7699" target="_blank">
                        <img class="img" src="img/items/img-people3-square.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Bot</h5>
                      <p class="small">Nhân vật thử nghiệm</p>
                      <div class="icons">
                        <a class="icon-btn" href="https://www.facebook.com/kingstar7699" target="_blank">
                          <i class='fab fa-facebook' style='font-size:36px'></i>
                        </a>
                        <a class="icon-btn" href="https://www.facebook.com/messages/t/kingstar7699" target="_blank">
                          <i class='fab fa-facebook-messenger' style='font-size:36px'></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- end of item -->
        </div>

        <!-- Arrows scroll down/up -->
        <footer class="section-footer scrolldown">
          <a class="down">
            <span class="icon"></span>
            <span class="txt">Test API</span>
          </a>
        </footer>
      </div>
      <!-- End of section wrapper -->
    </div>
    <!-- Begin of TEST API section -->
    <div class="section section-register fp-auto-height-responsive " data-section="testAPI">
      <!-- Begin of section wrapper -->
      <div class="section-wrapper">
        <!-- title -->
        <div class="section-title text-center">
          <h5 class="title-bg">API</h5>
        </div>

        <!-- content -->
        <div class="section-content anim text-center">

          <div class="row align-items-center justify-content-center">

            <div class="col-12 col-md-8 col-lg-6">
              <!-- Registration form container-->
              <form class="send_email_form form-container form-container-transparent form-container-white" id='APItest'>
                <div class="form-desc">
                  <h2 class="display-4 display-title  anim-2">API</h2>
                  <p class="invite  anim-3">Input <i style="color: gold">messages</i> and <i
                      style="color: gold">language</i> here </p>
                  <p> I'll show you the results! </p>
                </div>
                <div class="form-input  anim-4">
                  <div class="form-group form-success-gone">
                    <label for="messagesParam">Messages</label>
                    <input id="messagesParam" name="messages" class="form-control-line form-control-white" type="text"
                      placeholder="Messages" />
                  </div>
                  <div class="form-group form-success-gone">
                    <label for="lanParam">Language</label>
                    <input id="lanParam" name="lan" class="form-control-line form-control-white" type="text"
                      placeholder="Language" value="vi" />
                  </div>
                  <div class="form-group mb-0">
                    <div>
                      <p class="email-ok invisible form-text-feedback form-success-visible">Something is wrong! Try
                        again!</p>
                    </div>
                    <button class="btn btn-white btn-round btn-full form-success-gone">Request</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- End of section wrapper -->
    
        <!-- Arrows scroll down/up -->
        <footer class="section-footer scrolldown">
          <a class="down">
            <span class="icon"></span>
            <span class="txt">Contact</span>
          </a>
        </footer>
    </div>
    <!-- End of register/login/signin section -->

    <!-- Begin of contact section -->
    <div class="section section-contact fp-auto-height-responsive" data-section="contact">

      <!-- begin of information slide -->
        <!-- Begin of slide section wrapper -->
        <div class="section-wrapper">
          <!-- title -->
          <div class="section-title text-center">
            <h5 class="title-bg">Contact</h5>
          </div>

          <div class="row">
            <div class="col">
              <!-- content -->
              <div class="section-content anim text-left">
                <!-- title and description -->
                <div class="title-desc">
                  <div class="anim-2">
                    <h5>Contact for Information</h5>
                    <h2 class="display-4 display-title">Contact</h2>
                    <p>For questions about my product, you can ib my facebook</p>
                    <p>Firstly, react my <b>avatar</b> :v</p>
                  </div>
                  <div class="address-container anim-3">

                    <div class="row">
                      <div class="col-12 col-md-12 col-lg-6">
                        <h4>Contact</h4>
                        <p>Call: +84 378 580 738</p>
                        <p>FB : <a style="color: gold;" href="https://fb.com/kingstar7699" target="_blank">Trần Ngọc</a>
                        </p>
                      </div>
                      <div class="col-12 col-md-12 col-lg-6">
                        <h4>Address</h4>
                        <p>
                          Viet Nam
                          <br>Tuy Phuoc Town, Binh Dinh Province
                          <br>An Loi Hamlet, Phuoc Thang Village
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Action button -->
                <div class="btns-action anim-4">
                  <a class="btn btn-outline-white btn-round" href="https://www.facebook.com/messages/t/kingstar7699">
                    <span class="txt">Send FB Message</span>
                  </a>
                </div>
              </div>
            </div>
            
          </div>
          
        <!-- Arrows scroll down/up -->
        <footer class="section-footer scrolldown">
          <a class="down">
            <span class="icon"></span>
            <span class="txt">Scroll Down</span>
          </a>
        </footer>
        </div>
        <!-- End of slide section wrapper -->
      <!-- end of information slide -->


    </div>
    <div class="section section-contact fp-auto-height-responsive " data-section="contribute">

        <!-- Begin of slide section wrapper -->
        <div class="section-wrapper">
          <div class="row justify-content-between">
            <div class="col-12 col-md-6 center-vh">
              <!-- content -->
              <div class="section-content anim text-left">
                <!-- title and description -->
                <div class="title-desc">
                  <div>
                    <h5>User Contribute</h5>
                    <h2 class="display-4 display-title">Give Key for server</h2>
                    <p>In order to use the API unlimited, you can give me some key by input into the form below.
                    </p>
                    <p>The more key you give, the more effective server supply. Thank you!
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-5">
              <!-- content -->
              <div class="section-content anim text-left">
                <!-- title and description -->
                <div class="">
                  <div class="form-container form-container-card">
                    <!-- Message form container -->
                    <form class="send_message_form message form"
                      id="contributeForm" method="POST" action="/contribute">
                      <div class="form-group name">
                        <label for="mes-name">Name :</label>
                        <input id="mes-name" name="name" type="text" placeholder=""
                          class="form-control-line form-success-clean" required>
                      </div>
                      <div class="form-group email">
                        <label for="mes-email">Email :</label>
                        <input id="mes-email" type="email" placeholder="" name="email"
                          class="form-control-line form-success-clean" required>
                      </div>
                      <div class="form-group no-border">
                        <label for="mes-text">Key</label>
                        <textarea id="mes-key" placeholder="Input Simsimi key here" name="key"
                          class="form-control form-control-outline thick form-success-clean" required></textarea>
                        <div>
                          <p class="message-ok invisible form-text-feedback form-success-visible">Your key have been saved to the server, thank you.</p>
                        </div>
                      </div>

                      <div class="btns">
                        <button class="btn btn-normal btn-white btn-round btn-full email_b"
                         type="submit">
                          <span class="txt">Give me</span>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- End of slide section wrapper -->
      </div>
      <!-- end of message slide -->

    </div>
    <!-- End of contact section -->
  </main>
  <!-- END OF page main content -->
  <!-- Loading -->
  <div id='waitRequest'>

  </div>
  <!-- End loading -->
  <!-- MODAL -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog" role="document" style="color: black;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Request success</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  
  <div class="modal fade" id="fbmodal">
    <div class="modal-dialog" role="document" style="color: black;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Rate it 1 like</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p style="font-size: larger;text-align: center;">If you like this website or it is helpfull, don't forget to <i class="fa fa-thumbs-up" style="color:blue"></i> or <i class="fa fa-heart" style="color:red"></i> my avatar :v <i class="fa fa-smile-o" style="color:blue"></i> !Thank much</p>
          <p style="text-align: center;"><img src="img/items/img-people1-square.jpg" width="70%" /></p>
        </div>
        <div class="modal-footer">
          <button id='fblike' type="submit" class="btn btn-round" data-dismiss="modal">Like now</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END MODAL -->

  <!-- BEGIN OF page footer -->
  <footer id="site-footer" class="page-footer">
    <div class="footer-left">
      <p> DESIGN by
        <a href="http://highhay.com">
          <span class="marked"> SIMPLEUX</span>
        </a>
      </p>
    </div>
    <div class="footer-right">
      <ul class="social">
        <li>
          <a href="https://www.facebook.com/kingstar7699" target="_blank">
            <i class="fab fa-facebook" style='font-size:36px'></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/messages/t/kingstar7699" target="_blank">
            <i class="fab fa-facebook-messenger"  style='font-size:36px'></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/cuncon0123/" target="_blank">
            <i class="fab fa-instagram" style='font-size:36px'></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/tranngoc769" target="_blank">
            <i class="fab fa-github" style='font-size:36px'></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>
  <script src="./js/vendor/jquery-1.12.4.min.js"></script>
  <script src="./js/vendor/scrolloverflow.min.js"></script>
  <script src="./js/vendor/all.js"></script>
  <script src="./js/particlejs/particles.min.js"></script>

  <script src="./js/jquery.downCount.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/form_script.js"></script>
  <script src="./js/main.js"></script>
  <script src="./js/a076d05399.js"></script>

  
</body>

</html>